<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs title="menu findings" />
<Content type="html"><![CDATA[
<style> 
#cabeceramenu {
	width: 970px;
	height: 61px;
	background-image:url(https://bbvatravellersgadgets.googlecode.com/svn/trunk/fondomenu.png);	
	margin:0;
	padding: 0;
	background-repeat: no-repeat;
	
}
#button {  
	padding: 4px 0 0 73px;  
	height:60px;
	margin: 0 0 0 -15px;
}  
#button li {  
	display: inline; 
	text-align: center;
}  
#button li a {  
	font-family: Arial;  
	font-size:18px;
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;   
	color: #fff;  
	width: 187px;
	height: 35px;
}  
#button li a.first {  
	font-family: Arial;  
	font-size:18px;
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 112px;
	height:35px;
}  
#button li a:hover {  
	background-color: #2586d7; 
    margin-left:5px;	
}  
#button li a:active {  
	background-color: #2586d7;  
}
.sites-adminfooter {
	display:none !important;
}

#button li a#past-travels:hover {  
	background-color: #FEBB60;  
} 

#button li a#Future-Travels:hover {  
	background-color: #7ABD5E;  
} 

#button li a#traveller-agenda:hover {  
	background-color: #00BEBD;  
} 

</style>
<div id="cabeceramenu">
<ul id="button"> 
<li><a id="Home" href="https://sites.google.com/a/bbva.com/findings/home/" target="_parent" >Home</a></li>   
<li><a id="Topics" href="https://sites.google.com/a/bbva.com/findings/home/topics" target="_parent" >Innovation Topics</a></li>  
<li><a id="coming-events" href="https://sites.google.com/a/bbva.com/findings/home/coming-events" target="_parent">Coming Events</a></li> 
<li><a id="contribute" href="https://sites.google.com/a/bbva.com/findings/home/contribute" target="_parent">Contribute</a></li>  
<li><a id="Monthly-Summary" href="https://sites.google.com/a/bbva.com/findings/home/monthly-summary" target="_parent">Monthly Report</a></li>  
</ul>  
</div>
<script type="text/javascript">
gadgets.util.registerOnLoadHandler(datospagina);
function datospagina()
{
	var parametros = gadgets.util.getUrlParameters()["parent"];	
	if (parametros.indexOf("Topics")!=-1)
	{
		document.getElementById("Topics").style.backgroundColor = "#7ABD5E";
	}
	if (parametros.indexOf("Topics")!=-1)
	{
		document.getElementById("Topics").style.backgroundColor = "#7ABD5E";
	}
	if (parametros.indexOf("coming-events")!=-1)
	{
		document.getElementById("coming-events").style.backgroundColor = "#FEBB60";
	}
	if (parametros.indexOf("Monthly-Summary")!=-1)
	{
		document.getElementById("Monthly-Summary").style.backgroundColor = "#00BEBD";
	}
	if (parametros.indexOf("contribute")!=-1)
	{
		document.getElementById("contribute").style.backgroundColor = "#2586d7";
	}
	if (gadgets.util.getUrlParameters()["parent"].indexOf("Topics")!=-1)
	{
		document.getElementById("Topics").style.backgroundColor = "#7ABD5E";
	}	

	window.top.parent.document.getElementById("sites-canvas-main").style.paddingTop= "0px";
	window.top.parent.document.getElementById("sites-canvas").style.paddingTop= "0px";		
}
</script>
]]></Content>
</Module>