<?xml version="1.0" encoding="UTF-8" ?> 
 <Module>
  <ModulePrefs title="menu findings"/> 
 <Content type="html">
 <![CDATA[ 
                      <style> 
#cabeceramenu {
  width: 960px;
  height: 65px;
  background-image:url(https://gsites-labs-capgemini-valencia.googlecode.com/svn/trunk/fondomenu.png);  
  margin:0;
  padding: 0;
  background-repeat: no-repeat;
}
#button {  
  padding: 5px 0 0 5px;
  height:60px;
  margin: 0 0 0 0px;
}  

#button li {  
  display: inline; 
  text-align: center; 
}  




@media screen and (-webkit-min-device-pixel-ratio:0) {  

#button li a {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 19px 0 0 0;   
  color: #fff;  
  width: 142px;
  height:32px;
  font-weight:bold;
}  

#button li a#contribute {
padding: 19px 0 0 0;
}

img {
padding-top:2px;
}

.first {

margin-top:0px;
padding-left:10px;
margin-left:10px;

}


#button li a.first {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 5px 0 0 0;     
  color: #fff;  
  width: 142px;
  height:48px;
}  


 } 
.select{
  background-image:url(https://bbvatravellersgadgets.googlecode.com/svn/trunk/Findings/images/triangle.png);  


}

@-moz-document url-prefix()
{
#button li a {  
  font-family: Arial;  
  font-size:13px;  
  text-decoration: none;  
  float:left;  
  padding: 21px 0 0 0;   
  color: #fff;  
  width: 142px;
  height:32px;
  font-weight:bold;
}  

#button li a#contribute {
padding: 21px 0 0 0;
}

img {
padding-top:2px;
}

.first {

margin-top:0px;
padding-left:10px;
margin-left:0px;

}

#button li a.first {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 5px 0 0 0;     
  color: #fff;  
  width: 142px;
  height:48px;
}  


}


#button li a.barralateral {  
  background-image: url("https://gsites-labs-capgemini-valencia.googlecode.com/svn/trunk/barralateralmenu.png");
    background-position: right 0;
    background-repeat: no-repeat;
} 


#button li a.first img {
  border:none;
}




#button li a:hover {  
  background-color: #2586d7;  

}  
#button li a:active {  
  background-color: #2586d7;  
}

#cabeceramenu #button li a.desactivado {
  color: #999;
}
</style>


<!--[if lt IE 9]>
<style>
#button li a {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 19px 0 13px 18px;   
  color: #fff;  
  width: 142px;
  height:23px;

}

#button li a#contribute {
padding: 19px 0 13px 35px;
}



img {
padding-top:3px;
padding-left:40px;
}


#button li a.first {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 8px 0 0 60px;     
  color: #fff;  
  width: 95px;
  height: 33px;
}  



</style>


<![endif]-->


<!--[if gt IE 8]>

<style>
#button li a {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 19px 0 0 20px;   
  color: #fff;  
  width: 142px;
  height:33px;

}

#button li a#contribute {
padding: 19px 0 0 35px;
}



img {
padding-top:3px;
padding-left:60px;
}


#button li a.first {  
  font-family: Arial;  
  font-size:15px;  
  text-decoration: none;  
  float:left;  
  padding: 8px 0 0 100px;     
  color: #fff;  
  width: 95px;
  height: 43px;
}  



</style>


<![endif]-->

<div id="cabeceramenu">
  <ul id="button">
    <li><a href="https://sites.google.com/a/bbva.com/findings/home/" class="first barralateral" target="_parent" class="select" title="home"><img src="https://bbvatravellersgadgets.googlecode.com/svn/trunk/Findings/images/enlacehome.png" alt="Home" style="padding-top:5px;"/></a></li>
    <li><a id="Topics" href="https://sites.google.com/a/bbva.com/findings/home/topics" class="barralateral" target="_parent">Innovation Topics</a></li>
    <li><a id="coming-events" href="https://sites.google.com/a/bbva.com/findings/home/coming-events" class="barralateral" target="_parent">Coming Events</a></li>
    <li><a id="contribute" href="https://sites.google.com/a/bbva.com/findings/home/contribute" class="barralateral" target="_parent">Contribute</a></li>  
    <li><a id="Monthly-Summary" href="https://sites.google.com/a/bbva.com/findings/home/monthly-summary" class="barralateral" target="_parent" >Monthly Report</a></li> 
  </ul>  
</div>
<script type="text/javascript">
gadgets.util.registerOnLoadHandler(datospagina);
function datospagina()
{
  var parametros = gadgets.util.getUrlParameters()["parent"];  
  if (parametros.indexOf("Topics")!=-1)
  {
    document.getElementById("Topics").style.backgroundColor = "#2586D7";
  }
   if (parametros.indexOf("comming-events")!=-1)
  {
    document.getElementById("comming-events").style.backgroundColor = "#2586D7";
  }
  if (parametros.indexOf("Monthly-Summary")!=-1)
  {
    document.getElementById("Monthly-Summary").style.backgroundColor = "#2586D7";
  }
   if (parametros.indexOf("contribute")!=-1)
  {
    document.getElementById("contribute").style.backgroundColor = "#2586d7";
  }

}
</script>
  ]]> 
  </Content>
  </Module>